{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" class="text-center">Image</th>
        <th scope="col" class="text-center">상품명</th>
        <th scope="col" class="text-center">수량</th>
        <th scope="col" class="text-center">가격</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    <tr>
        <th scope="row" class="text-center">
            <a href="{{ item.product.get_absolute_url }}">
                <img src="{{ item.product.image.url }}" class="img-thumbnail"
                     style="width:40px;height:40px">
            </a>
        </th>
        <td class="text-center">{{ item.product.title }}</td>
        <td style="width:30$" class="text-center">
            <form action="{% url 'cart:product_add' item.product.id %}" method="post">
                <input type="number" name="quantity" style="width:50px;"
                       value="{{item.quantity_form.quantity.value}}">

                {{ item.quantity_form.is_update }}
                <input type="submit" class="btn btn-primary btn-sm" value="수정">
                {% csrf_token %}
                <a class="btn btn-danger btn-primary btn-sm" href="{% url 'cart:product_remove' item.product.id %}">삭제</a>

            </form>
        </td>
        <td class="num text-right">{{ item.total_price }} 원</td>

    </tr>
    {% endfor %}
    <tr class="total">
        <td id="cart_total">Total</td>
        <td colspan="2"></td>
        <td class="num text-right">{{ cart.get_product_total }} 원</td>
    </tr>

    </tbody>
</table>

{% endblock %}