{% extends "blog/base.html" %}
{% block content %}



<article class="media content-section">


    <div class="media-body">


        <div class="row pt-3">
            <div class="col-4">
                <img src="{{ product.image.url }}" width="100%">
            </div>
            <div class="col">

                <h2 class="article-title">{{ product.title }}</h2>
                <p class="article-title">{{ product.price }}원</p>
                <p>상세설명</p>


                <p class="article-content">{{ product.content }}</p>
                <small class="text-muted">등록일 : {{ product.date_posted|date:"Y년 F d일" }}</small>

                <div class="article-metadata pt-4">
                    <img class="rounded-circle article-img" style="width:60px; height:60px;"
                         src="{{product.author.profile.image.url}}">

                    <a class="mr-2" href="#">{{ product.author }}</a>
                    {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb1" href="{% url 'product-update' product.id %}">수정</a>
                        <a class="btn btn-danger btn-sm mt-1 mb1" href="{% url 'product-delete' product.id %}">삭제</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <form action="{% url 'cart:product_add' product.id %}" method="post">
            {{ add_to_cart }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-sm" value="카트에 넣기">
        </form>
<!--        <p>Tags :&nbsp;-->
<!--            {% for t in object.tags.all %}-->
<!--                #{{ t }} &nbsp;-->
<!--            {% endfor %}-->
<!--        </p>-->
    </div>
    <div id="comment-list">

    </div>
</article>


{% endblock content %}
