{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">상품삭제</legend>
                <p>{{product.title}}</p>
                <p><img src="{{ product.image.url }}" style="width:80px;"></p>
                <h4>상품을 삭제하시겠습니까?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">예, 삭제하겠습니다</button>
                <p class="pt-5"><a href="{{ product.get_absolute_url }}">상품페이지로 돌아가기</a></p>
            </div>
        </form>
    </div>
{% endblock content %}
